Memory.Proxy=FreeMemory:tcp -h codetest.iperitydev.com -p 10000:udp -h codetest.iperitydev.com -p 10000:ssl -h codetest.iperitydev.com -p 10001
Wallclock.Proxy=Wallclock:tcp -h codetest.iperitydev.com -p 10000:udp -h codetest.iperitydev.com -p 10000:ssl -h codetest.iperitydev.com -p 10001
Response.Proxy=Response:tcp -h codetest.iperitydev.com -p 10000:udp -h codetest.iperitydev.com -p 10000:ssl -h codetest.iperitydev.com -p 10001